<form class="generator-form">
    <mat-form-field class="generator-full-width">
      <mat-label>Url</mat-label>
      <input matInput [formControl]="urlFormControl" [errorStateMatcher]="matcher"
             placeholder="Ex. http://www.lemonde.fr">
      <mat-hint>Submit an url to shorten</mat-hint>
      <mat-error *ngIf="urlFormControl.hasError('pattern') && !urlFormControl.hasError('required')">
        Please enter a valid url
      </mat-error>
      <mat-error *ngIf="urlFormControl.hasError('required')">
        Url is <strong>required</strong>
      </mat-error>
      <button mat-raised-button matSuffix color="primary" (click)="onSubmit()">Submit</button>  
    </mat-form-field>
    
  </form>

  <div class="result">
    <app-external-link [url]="url" [displayLabel]="true" (click)="onShortenedUrlClick()"></app-external-link>
  </div>